.Cat_title {
  color: var(--first-color);
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-family: var(--second-font);
  display:flex ;
  align-items: center;
  .icon{
    margin: 0 5px;
    font-size: 18px;
    }
}
.Content {
    padding: 40px  30px;
}
