.Footer {
  padding: 30px;
  bottom: 0;
  position: relative;
  width: 100%;
  // background-color: var(--container-color);
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .opensource {
    color: var(--first-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 5px;
    img {
      width: 30px;
    }
  }
}
